.horizonFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: whitesmoke;
  overflow: hidden;
}
/* .horizonFlex h3 {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: auto;
    font-weight: 800;
} */
.horizonGrid {
  display: grid;
  grid-template-areas: "horizonG1 HorizonG2";
  grid-template-columns: 40% 60%;
  max-width: 100vw;
  padding: 5px;
  gap: 20px;
}
.horizon1 {
  grid-area: horizonG1;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.flexhorizon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  font-family: "gotham light";
}
.flexhorizon h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "gotham light";
}
.horizon1 button {
  height: 50px;
  width: 100px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.horizon1 button:hover {
  height: 50px;
  width: 100px;
  background-color: goldenrod;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.scroll-container {
  grid-area: HorizonG2;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 2rem;

  /* &:hover {
    overflow-x: visible;
  } */
}

.grid-container {
  display: flex;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
  & img {
    object-fit: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}
.prev-button {
  margin: 5px;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 80px;
  background-color: black;
  cursor: pointer;
  color: white;
}
.next-button {
  margin: 5px;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 80px;
  background-color: black;
  cursor: pointer;
  color: white;
}

.grid-item {
  flex: 0 0 auto;
  width: 250px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  & h2 {
    margin: 10px;
    text-align: center;
  }
  & article {
    margin: 10px;
    font-family: "gotham light";
  }
  & h3 {
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }
  & button {
    height: 30px;
    width: 100%;
    background-color: white;
    color: black;
  }
}
.grid-item img {
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
  overflow: visible;
}
.grid-item:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
  background-color: black;
  box-shadow: -4px -3px 45px 21px rgba(0, 0, 0, 0.35);
  object-fit: center;
  overflow: visible;
  & article,
  h2,
  h3 {
    color: white;
  }
}

@media (max-width: 900px) {
  .horizonGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 20px;
  }
  .flexhorizon {
    display: none;
  }
  .horizon1 {
    display: none;
  }
  .grid-container {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease-in-out;
    & img {
      object-fit: cover;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  }
  .buttonPlusMinus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}
